/.DS_Store
/__pycache__
/.vscode
.idea
pckFiles
KFe3J/.DS_Store
KFe3J/__pycache__
aCVO/.DS_Store
aCVO/__pycache__
ZnCVO/.DS_Store
ZnCVO/__pycache__
aCVO/output1.file
aCVO/output2.file
aCVO/output.file
output2.file
magcalc_20240213.py
output_KFe3J.txt
output.txt
KFe3J/output.file
KFe3J/output2.file
atom_pos.py
KFe3J.cif
read_cif.py
aCVO/spin_model2.py
aCVO/alpha-Cu2V2O7.cif
aCVO/test_sm2.py
aCVO/aCVO_allP/disp_CVO.py
aCVO/aCVO_allP/EQmap_CVO.py
aCVO/aCVO_allP/HKmap_CVO.py
aCVO/aCVO_allP/lmfit_CVO.py
aCVO/aCVO_allP/spin_model_allP.py
alpha-Cu2V2O7.cif
aCVO/spin_model_cif.py
KFe3J/test_sm2.py
KFe3J/spin_model2.py
KFe3J/spin_model_cif.py
magcalc2.py
aCVO/magStruct.py
KFe3J/magStruct.py
coding_plan.rtf
KFe3J/.ipynb_checkpoints/disp_KFe3J-checkpoint.py
