# General
.DS_Store
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache
.vscode
.idea

# Logs
*.log

# Cache and Data
cache/
archive/
tests/pckFiles/
*.npz
*_plot.png
*.pkl

# Project specifics
KFe3J/.DS_Store
aCVO/.DS_Store
examples/.DS_Store

examples/plots/
**/.pytest_cache/
**/.ipynb_checkpoints/
*.egg-info/
