# General
/.DS_Store
__pycache__/
/.pytest_cache
/.vscode
.idea

# Cache and Data
cache/
archive/

# Project specifics
KFe3J/.DS_Store
KFe3J/__pycache__
aCVO/.DS_Store
aCVO/__pycache__
magcalc/__pycache__
tests/pckFiles/


